:9000 {
  @postitems {
    method POST
    path /v1/items
  }

  @getitems {
    method GET
    path /v1/items
  }

  @getui {
    method GET
    path /*
  }

  handle @getitems {
    reverse_proxy :8080
  }

  handle @postitems {
    reverse_proxy :8081
  }

  handle @getui {
    reverse_proxy :8082
  }
}